#root :is(.\!visible) {
  visibility: visible !important
}

#root :is(.visible) {
  visibility: visible
}

#root :is(.fixed) {
  position: fixed
}

#root :is(.bottom-0) {
  bottom: 0px
}

#root :is(.mb-12) {
  margin-bottom: 3rem
}

#root :is(.mb-8) {
  margin-bottom: 2rem
}

#root :is(.ml-3) {
  margin-left: 0.75rem
}

#root :is(.mt-12) {
  margin-top: 3rem
}

#root :is(.mt-3) {
  margin-top: 0.75rem
}

#root :is(.mt-4) {
  margin-top: 1rem
}

#root :is(.mt-5) {
  margin-top: 1.25rem
}

#root :is(.mt-6) {
  margin-top: 1.5rem
}

#root :is(.block) {
  display: block
}

#root :is(.flex) {
  display: flex
}

#root :is(.h-screen) {
  height: 100vh
}

#root :is(.w-16) {
  width: 4rem
}

#root :is(.w-full) {
  width: 100%
}

#root :is(.flex-wrap) {
  flex-wrap: wrap
}

#root :is(.items-center) {
  align-items: center
}

#root :is(.justify-center) {
  justify-content: center
}

#root :is(.justify-between) {
  justify-content: space-between
}

#root :is(.rounded) {
  border-radius: 0.25rem
}

#root :is(.bg-gray-100) {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}

#root :is(.bg-white) {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

#root :is(.p-4) {
  padding: 1rem
}

#root :is(.p-5) {
  padding: 1.25rem
}

#root :is(.pb-14) {
  padding-bottom: 3.5rem
}

#root :is(.text-center) {
  text-align: center
}

#root :is(.text-2xl) {
  font-size: 1.5rem;
  line-height: 2rem
}

#root :is(.text-base) {
  font-size: 1rem;
  line-height: 1.5rem
}

#root :is(.font-bold) {
  font-weight: 700
}

#root :is(.text-gray-400) {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity))
}

#root :is(.text-gray-600) {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity))
}

#root :is(.filter) {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}
